@import bootstrap
@import font-awesome

#wrapper
  padding: 15px 20px 20px

.navbar
  background-color: #268c76
  h1, h2, h3
    color: white
    font-weight: bold

.label
  font-weight: bold

.btn-primary
  background-color: #268c76
  border-color: #268c76
  &:hover, &:active, &:focus
    background-color: #20a879
    border-color: #268c76

a
  color: #268c76
  &:hover, &:active, &:focus
    color: #20a879
